@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&family=Inter:wght@400;500;600&display=swap');

/* Headings */
body, p, a, li, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

